div.nav-component.w-nav(
  data-w-id="80d93cfa-656b-3ce5-fe2a-4b7de266622d" 
  data-animation="default" 
  data-collapse="medium" 
  data-duration="400" 
  data-easing="ease" 
  data-easing2="ease" 
  role="banner"
)
  div.padding-global
    div.container-large.w-container
      div.nav-flex-wrapper
        a.nav-flex-logo.w-nav-brand.w--current(href="/" aria-label="home" aria-current="page")
          img.logo-img(src="/Images/goat_tech-01.png" loading="lazy" alt="")
        link(rel="prerender" href="index.html")
        nav.nav-flex-menu.w-nav-menu(role="navigation")
          a.nav-flex-link.w-nav-link.w--current(href="index.html" aria-current="page" style="max-width: 1280px") Home
          link(rel="prerender" href="/")
          a.nav-flex-link.w-nav-link(href="#" style="max-width: 1280px") About Us
          link(rel="prerender" href="#")
          div.nav-dropdwon.w-dropdown(data-hover="true" data-delay="300" data-w-id="ff52631a-fd33-a752-737b-62497a7591b9" style="max-width: 1280px")
            div.nav-dropdwon-toggle.w-dropdown-toggle(
              id="w-dropdown-toggle-0" 
              aria-controls="w-dropdown-list-0" 
              aria-haspopup="menu" 
              aria-expanded="false" 
              role="button" 
              tabindex="0"
            )
              a.nav-flex-link.w-inline-block(href="/products.html")
                div Products
              img.nav-dropdwon-image(
                src="https://cdn.prod.website-files.com/66683173b040d2d54b46af65/66683173b040d2d54b46b10d_Chevron%20Down.png" 
                loading="lazy" 
                alt=""
              )
            nav.nav-dropdwon-list.w-dropdown-list(
              id="w-dropdown-list-0" 
              aria-labelledby="w-dropdown-toggle-0" 
              style="transform: translate3d(0px, -8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;"
            )
              div.nav-dropdwon-padding
                div.nav-dropdwon-links
                  div.w-dyn-list
                    div.nav-drop-down-link-grid.w-dyn-items(role="list")
                      div.w-dyn-item(role="listitem")
                        a.nav-dropdwon-linkk.w-inline-block(href="/products.html" tabindex="0")
                          div TBA!
          div.nav-dropdwon.w-dropdown(data-hover="true" data-delay="300" data-w-id="5de9aa9d-0370-92d0-c186-f2e691eec47e" style="max-width: 1280px")
            div.nav-dropdwon-toggle.w-dropdown-toggle(
              id="w-dropdown-toggle-1" 
              aria-controls="w-dropdown-list-1" 
              aria-haspopup="menu" 
              aria-expanded="false" 
              role="button" 
              tabindex="0"
            )
              a.nav-flex-link.w-inline-block(href="/services.html")
                div Services
              img.nav-dropdwon-image(
                src="https://cdn.prod.website-files.com/66683173b040d2d54b46af65/66683173b040d2d54b46b10d_Chevron%20Down.png" 
                loading="lazy" 
                alt=""
              )
            nav.nav-dropdwon-list.w-dropdown-list(
              id="w-dropdown-list-1" 
              aria-labelledby="w-dropdown-toggle-1" 
              style="transform: translate3d(0px, -10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;"
            )
              div.nav-dropdwon-padding
                div.nav-dropdwon-links
                  a.nav-dropdwon-linkk.w-inline-block(href="/services/hardware-manufacturing.html" tabindex="0")
                    div Hardware Manufacturing
                  a.nav-dropdwon-linkk.w-inline-block(href="/services/iot-development.html" tabindex="0")
                    div IoT Development
                  a.nav-dropdwon-linkk.w-inline-block(href="/services/software-development.html" tabindex="0")
                    div Software Development
          div.nav-dropdwon.w-dropdown(data-hover="true" data-delay="300" data-w-id="cf0cc66c-0291-e68f-27b8-bd7aeaa677e0" style="max-width: 1280px")
            div.nav-dropdwon-toggle.w-dropdown-toggle(
              id="w-dropdown-toggle-2" 
              aria-controls="w-dropdown-list-2" 
              aria-haspopup="menu" 
              aria-expanded="false" 
              role="button" 
              tabindex="0"
            )
              a.nav-flex-link.w-inline-block(href="/resources.html")
                div Resources
              img.nav-dropdwon-image(
                src="https://cdn.prod.website-files.com/66683173b040d2d54b46af65/66683173b040d2d54b46b10d_Chevron%20Down.png" 
                loading="lazy" 
                alt=""
              )
            nav.nav-dropdwon-list.w-dropdown-list(
              id="w-dropdown-list-2" 
              aria-labelledby="w-dropdown-toggle-2" 
              style="transform: translate3d(0px, -8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;"
            )
              div.nav-dropdwon-padding
                div.nav-dropdwon-links
                  a.nav-dropdwon-linkk.w-inline-block(href="/resources.html" tabindex="0")
                    div Blogs
                  a.nav-dropdwon-linkk.w-inline-block(href="/resources.html" tabindex="0")
                    div Videos
                  a.nav-dropdwon-linkk.w-inline-block(href="/resources.html" tabindex="0")
                    div Events
          a.nav-flex-link.hide.w-nav-link(href="/resources.html" style="max-width: 1280px") Blogs
          link(rel="prerender" href="/resources.html")
          div.nav-contact-button-wrapper
            a.button.nav-menu.w-button(href="/contact-us.html") Contact Us
            link(rel="prefetch" href="/contact-us")
        div.nav-flex-menu-buttons.hide
        div.menu-button.w-nav-button(
          style="-webkit-user-select: text" 
          aria-label="menu" 
          role="button" 
          tabindex="0" 
          aria-controls="w-nav-overlay-0" 
          aria-haspopup="menu" 
          aria-expanded="false"
        )
          div.lottie-animation(
            data-w-id="790813db-2b4d-2309-9eb8-27d1291463a3" 
            data-animation-type="lottie" 
            data-src="https://cdn.prod.website-files.com/65d8845e14eb99263ff53e91/65e92eea42793497b66d31a6_lottieflow-menu-nav-09-000000-easey.json" 
            data-loop="0" 
            data-direction="1" 
            data-autoplay="0" 
            data-renderer="svg" 
            data-default-duration="2.5" 
            data-duration="0" 
            data-ix2-initial-state="0"
          )
            svg(
              xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink" 
              viewBox="0 0 850 850" 
              width="850" 
              height="850" 
              preserveAspectRatio="xMidYMid meet" 
              style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;"
            )
              defs
                clipPath(id="__lottie_element_2")
                  rect(width="850" height="850" x="0" y="0")
              g(clip-path="url(#__lottie_element_2)")
                g(transform="matrix(1,0,0,1,425,425)" opacity="1" style="display: block")
                  g(opacity="1" transform="matrix(1,0,0,1,0,0)")
                    path(
                      stroke-linecap="round" 
                      stroke-linejoin="round" 
                      fill-opacity="0" 
                      stroke="rgb(0,0,0)" 
                      stroke-opacity="1" 
                      stroke-width="60" 
                      d="M324,-250 C324,-250 3,-250 3,-250 C3,-250 3,-165 3,-165 C3,-165 324,-165 324,-165 C324,-165 324,-250 324,-250z" 
                      transform="matrix(1,0,0,1,0,0)" 
                      style="display: block"
                    )
                    path(
                      stroke-linecap="round" 
                      stroke-linejoin="round" 
                      fill-opacity="0" 
                      stroke="rgb(0,0,0)" 
                      stroke-opacity="1" 
                      stroke-width="60" 
                      d="M324,-42.875 C324,-42.875 3,-42.875 3,-42.875 C3,-42.875 3,42.875 3,42.875 C3,42.875 324,42.875 324,42.875 C324,42.875 324,-42.875 324,-42.875z" 
                      transform="matrix(1,0,0,1,0,0)" 
                      style="display: block"
                    )
                    path(
                      stroke-linecap="round" 
                      stroke-linejoin="round" 
                      fill-opacity="0" 
                      stroke="rgb(0,0,0)" 
                      stroke-opacity="1" 
                      stroke-width="60" 
                      d="M324,165 C324,165 3,165 3,165 C3,165 3,250 3,250 C3,250 324,250 324,250 C324,250 324,165 324,165z" 
                      transform="matrix(1,0,0,1,0,0)" 
                      style="display: block"
                    )
        div.nav-dropdown-overlay.hide-off.w-nav-overlay(id="w-nav-overlay-0")
